body { 
    flex-direction:column
}

header {
    height:100px;
    
}



footer {
    height:20px;
}

.main-body {
    flex:1;
}

.webviewx {
    display:flex;
    flex-direction:column;
    height:100%;
}

.webviewx nav {
    display:inline-block;
    height:48px;
}
.webviewx nav button {
    max-width:100px;
    height:30px;
    line-height:30px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:1px;
    padding:0 20px 0 0 ;
    background: rgba(160,160,160,1)  url(../images/more.svg) right center no-repeat;
    background-size: 20px 20px;
    border:none;
}
    .webviewx nav .current {
        background:#ffd800;
    }

.view-stacks {
    position:relative;
    flex:1;
}

.view-stacks x-ms-webview{
    width:100%;
    height:100%;
    //border:5px solid red;
    box-shadow:rgba(0,0,0,0.4) 0 0 inset;
    position:absolute;
    left:0;
    top:0;
    box-shadow:0px 0px 0px 0px #000;
    transition: left 0.5s linear, box-shadow 0.5s linear;
}

.view-stacks x-ms-webview.coming{
    left:100%;
    box-shadow:0px 0px 10px 0px #000;
}

.view-stacks .current{
   left:0;
   top:0;
}


button.splitViewButton {
    /*position: absolute;*/
    display:inline-block;
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    z-index:10;
}

    button.splitViewButton:hover {
        background-color: rgba(255,255,255, 0.1);
    }

    button.splitViewButton:active {
        background-color: rgba(255,255,255, 0.2);
    }

    button.splitViewButton:after {
        position: relative;
        font-size: 24px;
        font-family: 'Segoe MDL2 Assets';
        content: "\E700";
    }

.win-splitview-pane {
    display: flex;
    flex-direction: column;
    box-shadow:#ffd800 0 0 ;
}

    .win-splitview-pane #scenarioPane {
        flex-grow: 1;
    }

    #header{
        display:inline-block;
    }

.win-splitview-pane-closed #header,
.win-splitview-pane-closed #footer {
    display: none;
}

.win-splitview-content .splitViewButton {
    display: none;
}

.hiding .win-splitview-content .splitViewButton,
.win-splitview-pane-closed .win-splitview-content .splitViewButton {
    display: block;
}