body { 
    flex-direction:column
}

header {
    height:100px;
    
}

footer {
    height:20px;
}

button.squareButton{
    height: 48px;
    width: 48px;
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
}
 button.squareButton:hover {
        background-color: rgba(255,255,255, 0.2);
    }

    button.squareButton:active {
        background-color: rgba(255,255,255, 0.3);
    }


.main-body {
    flex:1;
}

.webviewx {
    display:flex;
    flex-direction:column;
    height:100%;
}

.webviewx ul {
    display:inline-block;
    height:28px;
    list-style:none;
    margin:0;
    padding:0;
}
.webviewx ul li {
    max-width:100px;
    height:20px;
    line-height:20px;
    white-space:nowrap;
    border-radius:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:4px 2px;
    padding:0 20px 0 10px ;
    font-size:12px;
    background: rgba(41, 143, 204, 0.8) url(../images/more.svg) right center no-repeat;
    background-size: 20px 20px;
    border:none;
    display:inline-block;
    vertical-align:middle;
}
    .webviewx ul .current {
        background-color:rgba(41, 143, 204, 1);
    }

.view-stacks {
    position:relative;
    flex:1;
}

.view-stacks x-ms-webview{
    width:100%;
    height:100%;
    box-shadow:rgba(0,0,0,0.4) 0 0 inset;
    position:absolute;
    left:0;
    top:0;
    box-shadow:0px 0px 0px 0px #000;
    transition: left 0.5s linear, box-shadow 0.5s linear;
    
}

    .view-stacks .current{
        z-index:1;
    }
.view-stacks x-ms-webview.coming{
    left:100%;
    box-shadow:0px 0px 10px 0px #000;
}

.view-stacks .current{
   left:0;
   top:0;
}


button.splitViewButton {
    position: absolute;     
    z-index:10;
}

    button.splitViewButton:after {
        position: relative;
        font-size: 24px;
        font-family: 'Segoe MDL2 Assets';
        content: "\E700";
    }
   
.win-splitview.win-splitview-pane-opened.win-splitview-placementleft .win-splitview-pane, .win-splitview.win-splitview-pane-opened.win-splitview-placementright .win-splitview-pane{
    width:220px;
}
.win-splitview-pane {
    display: flex;
    flex-direction: column;
    box-shadow:#ffd800 0 0 ;
}

    .win-splitview-pane #scenarioPane {
        flex-grow: 1;
    }

    #header{
        display:inline-block;
        line-height:48px;
    }
    #footer{
        display:inline-block;
        line-height:48px;
    }

.win-splitview-pane-closed #header,
.win-splitview-pane-closed #footer {
    display: none;
}
.win-splitview-pane-closed .splitViewButton {
    position:static;
}

.win-splitview-content .splitViewButton {
    display: none;
}

.hiding .win-splitview-content .splitViewButton,
.win-splitview-pane-closed .win-splitview-content .splitViewButton {
    display: block;
}

.helpIcon::before {
    content: "\E11B";
}
.helpIcon {
    font-family: "Symbols";
    font-size: 28px;
    color: #5729c1;
    width:30px;
    height:30px;
}
