body {
    display:flex;
    flex-direction:column
}

header {
    height:100px;
    
}

nav {
    display:inline-block;
}
nav button {
    max-width:100px;
}


footer {
    height:20px;
}

.main-body {
    flex:1;
}

.view-stacks {
    border:5px solid yellow;
    position:relative;
}

.view-stacks x-ms-webview{
    width:100%;
    height:300px;
    border:5px solid red;
    position:absolute;
}
.view-stacks .current{
   left:0;
   top:0;
}

