<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="help.js"></script>
</head>
<body>
    <div style="margin:5px;">
        <h1>设置</h1>
        <p>
            <ul>
                <li><button id="appResetBtn" class="win-button">重置此应用</button></li>
            </ul>
        </p>

        <h1>使用语音</h1>
        <p>
            通过Windows10的小娜调起应用，支持以下命令：
            <ul>
                <li>“网址导航 首页”：会打开应用首页</li>
                <li>（其他命令开发中...）</li>
            </ul>
        </p>
        <h1>收藏和外部打开</h1>
        <p> 
            <ul>
                <li>
                    右键或长按导航菜单，可以调出操作菜单。
                    <p>
                          <img src="../images/help4contextmenu.jpg" alt="help for context menu" />
                    </p>
                </li>
            </ul>
        </p>
        <h1>关于</h1>
        <p>UC123 UWP专版</p>
        <p>
            http://www.uc123.com，阿里旗下的网址导航，小巧的Win0专版App。为您提供最详细的网址导航信息，以及专有购物省钱秘笈~
        </p>
    </div>
</body>
</html>