<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="help.js"></script>
</head>
<body>
    <div style="margin:5px;">
        <h1>设置</h1>
        <p>
            <ul>
                <li><button id="appResetBtn" class="win-button">重置此应用</button></li>
            </ul>
        </p>

        <h1>使用语音</h1>
        <p>
            通过Windows10的小娜调起应用，比如：
            <ul>
                <li>“网址导航 首页”：会打开应用首页</li>
            </ul>
        </p>
        <h1>关于</h1>
        <p>UC123.com专版，阿里出品。</p>
    </div>
</body>
</html>