<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div id="MyWebviewx" data-title="as-default-page" class="webviewx">
         <!--data-win-control="WinJS.UI.HtmlControl"
         data-win-options="{uri: 'components/webviewx.html'}">-->
        <ul id="navStacks">
        </ul>
        <div id="viewStacks" class="view-stacks">
        </div>
    </div>
    <div id="navMenu" data-win-control="WinJS.UI.Menu">
        <button data-win-control="WinJS.UI.MenuCommand"
                data-win-options="{ extraClass: 'delete', label: 'Delete' }"></button>
        <button data-win-control="WinJS.UI.MenuCommand"
                data-win-options="{ extraClass: 'undo-delete', label: 'Undo Delete' }"></button>
        <button data-win-control="WinJS.UI.MenuCommand"
                data-win-options="{label: '加入收藏' }"></button>
    </div>
    <script src="./webviewx.js"></script>
</body>
</html>