<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div id="MyWebviewx" data-title="as-default-page" class="webviewx">
         <!--data-win-control="WinJS.UI.HtmlControl"
         data-win-options="{uri: 'components/webviewx.html'}">-->
        <nav id="navStacks">
            <button id="defaultNav">
                主页
            </button>
        </nav>
        <div id="viewStacks" class="view-stacks">
            （动态加载）
            <x-ms-webview id="defaultView" src="http://www.uc123.com"></x-ms-webview>
        </div>
    </div>
   
</body>
</html>